*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 10px;
}

img{
    width: 100%;

}

div{
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

#links img{
    width: 30px;
}

