*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    font-size: 40px;
}

header{
    color: white;
    padding: 5%;
    background-color: rgba(156, 166, 166, 0.69);
    text-align: center;
    font-size: 16px;

}

nav{
    color: white;
    display: flex;
    background-color: black;
    
}

nav a{
    text-decoration: none;
    color: white;
    padding: 1%;
    /* flex: ; */
}


main{
    display: flex;
}

#container1{
    flex: 30%;
    background-color: lightgray;
    padding: 1%;
}

#container2{
    padding: 1%;
    flex: 70%;
}


img{
    display: flex;
    background-color: gray;
    width: 100%;
    padding: 5px;

}

#hobby, #story, #my_country{
    display: flex;
    width: 33.3%;
}

h1, h2, h3, h4, h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    padding: 10px 0;
}

pre, p {
    padding: 5px;
    font-size: 16px;
}


footer{
    background-color: darkcyan;
    display: flex;
    align-items: stretch;
}

footer div{
    width: 33%;   
    padding-inline-start: 1%; 
}

#links, #links img{
    display: flex;
    width: 50px;
    align-items: center;
    background-color: darkcyan;
    padding-left: 10%;
}
