#mid{
    text-align: center;
    font-size: 32px;
}
ol, #blue{
    font-size: 18px;
    color: #f00;
}
/* можна так много тегов писать  в одной строке?*/
.bigRed, h1, h2, h3, span{
    color: #f00;
    font-size: 25px;
    font-weight: bold;
}
/* можно переопридилять некоторие теги как к примеру переопределил #blue, или лучше избегать такого?*/
#blue, .cursive, #blueSmall{
    font-style: italic;
    color: #00f;
}

#bold span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f00;
}

div{
    width: 50%;
}

.cursive{
    color: #f00;
}

#blueSmall{
    font-size: 16px;
}