*{
    margin: 0;
    padding: 0;
}

span, h1{
    border: 2px solid blue;
}

.paragraph{
    font-size: 23px;
    border: 3px solid black;
}

#block1{
    background-color: lightblue;
    /* margin-top: ; */
    /* margin-right: ; */
    /* margin-bottom: ; */
    /* margin-left: ; */
    /* margin: 20px; */
    /* margin: 20px 50px; */
    /* margin: 20px 30px 40px; */
    margin: 20px 30px 40px 50px;
    padding: 40px;

}

#block1 p{
    font-size: 20px;
}

#block1 a{
    color: red;
    text-decoration: none;
}
